{
  "presets": [
    "es2015",
    "stage-2",
    "react"
  ],
  "plugins": [
    [
      "module-resolver",
      {
        "alias": {
          "components": "./src/js/components",
          "data": "./src/js/data",
          "engine": "./src/js/engine",
          "js": "./src/js",
          "root": "./"
        }
      }
    ]
  ]
}
