.carousel {
  position: relative;
  overflow: hidden;
  height: 100%;
}

.carousel__inner {
  @include position();
  overflow: auto;
}

.carousel__item {
  @include position();
  display: none;

  img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
  }
 
  &.active {
    display: block;
  }
}
.carousel__control {
  @include position(50%);
  width: 40px;
  height: 40px;
  margin-top: -20px;
  background-color: $overlay-bg;
  z-index: 3;
  line-height: 40px;
  text-align: center;
  cursor: pointer;
  transition: background-color $transition-duration $transition-timing-function;
  &:hover {
    background-color: rgba(0,0,0,0.8);
  }
  &.control--next {
    left: auto;
    right: 0;
  }
}