.ui-list {
  list-style: none;
  padding: 0;
  margin: 0;
  padding-top: 1em;
  text-align: center;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: flex-start;
  > li {
    display: block;
    width: calc(25% - 0.5em);
    margin-right: 0.25em;
    margin-left: 0.25em;
    margin-bottom: 1em;
    @media (max-width: 992px) {
      width: calc(50% - 0.5em);
    }
    @media (max-width: 768px) {
      width: calc(50% - 0.5em);
    }
    @media (max-width: 480px) {
      width: 100%;
      margin: {
        right: 0;
        left: 0;
      }
    }
  }
}

.list-indicator {
  font-size: 2rem;
  text-align: center;
  margin-top: 2em;
}

.list-item {
  box-shadow: 0 2px 2px -1px #afafaf;
  .value {
    float: right;
    font-size: 85%;
    color: #000;
  }
}

.list-item__info {
  text-align: left;
  color: #999;
}

.list-item__subtitle {
  font-style: italic;
}

.list-item__footer {
  padding: {
    right: 0;
    left: 0;
  }
}

.card-body + .card-body {
  padding: {
    right: 0.25rem;
    left: 0.25rem;
  }
}
